<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1514306191717-452ec28c7814?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2369&q=80);">
  <div class="container">
    <h1 data-controller="typed-js"></h1>

  </div>
</div>

<div class="action">
  <%= link_to "Create a list", new_list_path, class: "action-btn"%>
</div>

<div class="container ">
<h3>My List</h3>
<div class="home">
  <%@lists.each do |list| %>
      <div class="card-trip-home">
      <% if list.bookmarks.first != nil %>
        <% url = ("url" + "(" + list.bookmarks.first.movie.poster_url + ")")%>
        <%else %>
        <% url = ("url(https://hips.hearstapps.com/hmg-prod/images/hbz-042517-oldhollywood-1493167401.jpg)") %>
        <%end%>
        <div class="card-img-list" style="background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), <%=url%>">
            <h2><%= link_to list.name, list_path(list) %></h2>
          </div>
        </div>
  <% end %>

  <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <span class="bg-flip">Add a List</span>
          </div>
            <div class="flip-card-back">
            <%= simple_form_for(@list) do |f| %>
            <%= f.label :new_list %>
            <%= f.text_field :name, placeholder: " New List" %>
            <%= f.submit "Create", class: "btn-flip"%>
          <% end %>
          </div>
        </div>
      </div>
      </div>
  </div>


</div>
